header {
    padding-top: 4rem;
}

table#play-starting11 td {
    padding-top: 0;
    padding-bottom: 0;
}

.table th, .table td {
    vertical-align: middle;
    padding: 0.5rem;
}

.players td {
    padding-bottom: 0.115rem;
    padding-top: 0.115rem;
}

.sortable th {
    cursor: pointer;
}

.borderless th, .borderless td {
    border: none;
}

.border-left-goal {
    border-left: solid #ffc107 !important;
}

.border-left-defense {
    border-left: solid #007bff !important;
}

.border-left-midfield {
    border-left: solid #28a745 !important;
}

.border-left-attack {
    border-left: solid #dc3545 !important;
}

.border-my-club {
    border-top: solid lightgray !important;
    border-bottom: solid lightgray !important;
}

.text-main-continental-cup-classification-zone {
    color: blue;
    font-weight: bold;
}

.text-secondary-continental-cup-classification-zone, .text-promotion-zone {
    color: deepskyblue;
    font-weight: bold;
}

.text-relegation-zone {
    color: red;;
    font-weight: bold;
}

.bg-gold {
    background-color: gold;
}

.bg-silver {
    background-color: lightgray;
}

.bg-bronze {
    background-color: tan;
}

.player-star {
    background-color: black;
    color: gold;
}

.img-miniature {
    min-width: 1.25rem;
    max-width: 2rem;
}

.overall {
    display: block;
    height: 2.25rem;
    width: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
}

.tooltip {
    pointer-events: none;
}