header {
    padding-top: 4rem;
}

main {
    padding-bottom: 3rem;
}

table.sortable tr {
    cursor: pointer;
}

.border-left-goal {
    border-left: solid #ffc107 !important;
}

.border-left-defense {
    border-left: solid #007bff !important;
}

.border-left-midfield {
    border-left: solid #28a745 !important;
}

.border-left-attack {
    border-left: solid #dc3545 !important;
}

.bg-player-star {
    background-color: black;
    color: gold;
}

.bg-gold {
    background-color: gold;
}

.bg-silver {
    background-color: lightgray;
}

.bg-bronze {
    background-color: tan;
}