header {
    padding-top: 4rem;
}

main {
    padding-bottom: 4rem;
}

th, td {
    vertical-align: middle !important;
}

table.sortable th {
    cursor: pointer;
}

.border-left-goal {
    border-left: solid #ffc107 !important;
}

.border-left-defense {
    border-left: solid #007bff !important;
}

.border-left-midfield {
    border-left: solid #28a745 !important;
}

.border-left-attack {
    border-left: solid #dc3545 !important;
}

.border-my-club {
    border-top: solid lightgray !important;
    border-bottom: solid lightgray !important;
}

.text-main-continental-cup-classification-zone {
    color: blue;
    font-weight: bold;
}

.text-secondary-continental-cup-classification-zone, .text-promotion-zone {
    color: deepskyblue;
    font-weight: bold;
}

.text-relegation-zone {
    color: red;;
    font-weight: bold;
}

.bg-gold {
    background-color: gold;
}

.bg-silver {
    background-color: lightgray;
}

.bg-bronze {
    background-color: tan;
}

.player-star {
    background-color: black;
    color: gold;
}

.img-miniature {
    min-width: 1.25rem;
    max-width: 2rem;
}

.table-borderless th, .table-borderless td {
    border: none;
    padding: .5rem;
}

.overall {
    padding: .6rem .9rem .6rem .9rem;
}

.tooltip {
    pointer-events: none;
}