<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Raffoot</title>

        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h5>Raffoot 2018</h5>

        <form>
            <fieldset>
                <legend>Choose your club</legend>
                
                <label>Country</label>
                <br>
                <select>
                    <option></option>
                    <option>Argentina</option>
                    <option>Brazil</option>
                </select>
                <br><br>

                <label>Club</label>
                <br>
                <select></select>
                <br>
            </fieldset>
        </form>
    </body>
</html>