<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Raffoot</title>

        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h5>Raffoot 2018</h5>

        <form>
            <fieldset>
                <legend>Choose your club</legend>
                
                <label>Country</label>
                <br>
                <select id="ddlCountries"></select>
                <br><br>

                <label>Club</label>
                <br>
                <select id="ddlClubs"></select>
                <br>
            </fieldset>
        </form>
        <script src="../Config/Config.js"></script>

        <script src="../Helpers/ArrayExtensions.js"></script>
        <script src="../Helpers/DateExtensions.js"></script>
        <script src="../Helpers/ObjectExtensions.js"></script>
        <script src="../Helpers/Random.js"></script>
        <script src="../Helpers/StringExtensions.js"></script>

        <script src="../Model/Championship.js"></script>
        <script src="../Model/ChampionshipEdition.js"></script>
        <script src="../Model/ChampionshipEditionClub.js"></script>
        <script src="../Model/ChampionshipEditionEliminationPhase.js"></script>
        <script src="../Model/ChampionshipEditionFixture.js"></script>
        <script src="../Model/ChampionshipEditionGroup.js"></script>
        <script src="../Model/ChampionshipEditionPlayer.js"></script>
        <script src="../Model/ChampionshipType.js"></script>
        <script src="../Model/Club.js"></script>
        <script src="../Model/Coach.js"></script>
        <script src="../Model/Confederation.js"></script>
        <script src="../Model/Contract.js"></script>
        <script src="../Model/Country.js"></script>
        <script src="../Model/FieldLocalization.js"></script>
        <script src="../Model/FieldRegion.js"></script>
        <script src="../Model/Formation.js"></script>
        <script src="../Model/Match.js"></script>
        <script src="../Model/MatchClub.js"></script>
        <script src="../Model/MatchClubStats.js"></script>
        <script src="../Model/MatchPlayer.js"></script>
        <script src="../Model/MatchPlayerStats.js"></script>
        <script src="../Model/Player.js"></script>
        <script src="../Model/Position.js"></script>
        <script src="../Model/Referee.js"></script>
        <script src="../Model/Season.js"></script>
        <script src="../Model/SeasonDate.js"></script>
        <script src="../Model/Skill.js"></script>
        <script src="../Model/Squad.js"></script>
        <script src="../Model/SquadPlayer.js"></script>
        <script src="../Model/Stadium.js"></script>

        <script src="../Model/Game.js"></script>

        <script src="script/UI.js"></script>
    </body>
</html>
<script>
    window.onload = function() {
        createGame();
        fillCountries();
    }

    function createGame() {
        var game = new Game();
    }

    function fillCountries() {
        let countries = Country.playable().orderBy('name');
        fillSelect('ddlCountries', countries);
    }

    ddlCountries.onchange = function()  {
        fillClubs();
    }

    function fillClubs() {
        let ddlCountries = document.getElementById('ddlCountries'); 
        let countryName = ddlCountries.options[ddlCountries.selectedIndex].text;
        let country = Country.all().find(c => c.name === countryName);
        fillSelect('ddlClubs', country.clubs);
    }
</script>